body {
  color: #333;
  font-family: AG-Light, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'WenQuanYi Micro Hei', sans-serif !important
}

.main {
  border-bottom: 1px solid #eee;
  min-height: 300px;
  margin-bottom: 10px
}

.footer {
  min-height: 40px;
  margin-bottom: 10px;
  color: #a6b0b3
}

.container {
  padding: 15px 0
}

.header .container {
  padding: 30px 0
}

.logo {
  display: inline-block
}

.logo-text {
  border-left: 1px solid #aeabab;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  height: 55px;
  font-size: 28px;
  margin-left: 10px;
  line-height: 55px
}

#pageContainer.loading {
  background: url('../images/loader.gif') center center no-repeat;
  min-height: 200px;
}

#lang-select {
  display: none;
  margin-top: 18px;
  width: 100px;
}

a:hover {
  text-decoration: none
}

.help-nav {
  width: 240px;
  float: left;
  border-top: 1px solid #eee;
  padding: 0 12px;
  color: #999;
}

.help-nav .list-group-item:first-child {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.help-nav .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.help-nav .list-group-item {
  border-right: none;
  border-left: none;
}

.help-main {
  margin-left: 240px;
  position: relative;
  padding: 0px 30px 30px;
  display: block;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  color: #999;
  line-height: 2;
  
}
.help-main blockquote{
  font-size: 14px;
  color: #999;
  line-height: 2;
}
.help-main h4{
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5 {
  color: #26c7ed;
  font-weight: 200;
  line-height: 1.1;
}

h1 {
  text-align: center;
  margin: 20px auto 40px;
}

html body {
  direction: ltr;
}

blockquote {
  background: #efeeee
}

@media (max-width:768px) {
  .header .container {
    padding: 30px 10px;
  }
  .container {
    padding: 10px;
  }
  .help-nav {
    padding: 0;
    width: 100%;
  }
  .help-main {
    width: 100%;
    position: static;
    margin-left: 0px;
    padding: 0px 10px 10px;
    border-left: none;
  }
}

#html-ar body {
  direction: rtl;
}

a.list-group-item.current {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}