<style>
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline;
}
.js-faqs blockquote{
  display: none;
}
</style>
<div id="tpl">
  <div class="help-nav list-group">
    <a class="list-group-item" href="#" linkHref='/wifi_watch/faqs'>${ids_faq}</a>
    <a href="#" class="list-group-item" linkHref='/wifi_watch/download_user_manual'>${ids_down_user_manual}</a>
    <a href="#" class="list-group-item" linkHref='/wifi_watch/supported_phones'>${ids_support_phone}</a>
  </div>
  <div mdview class="help-main js-faqs"></div>
</div>